<div class="container-header">
  <header>
    <div class="logo">
      <i class="fas" [ngClass]="{'fa-bars menu-icon': isMenuOpen, 'fa-x': !isMenuOpen}" (click)="btnToggle()"
        role="button" tabindex="0" aria-label="Toggle menu">
      </i>
      <a href="/browse"><img src="/img/logo.png" alt=""></a>
    </div>

    <div class="menu">

      <div class="account" *ngIf="!user" routerLink="/login">
        <i class="fas fa-user"></i>
      </div>

      <div class="profile-img" *ngIf="user" (click)="toggleDropdown()">
        <img [src]="user.photo" alt="profile img">
      </div>

    </div>

  </header>



  <div class="profile-dropdown" *ngIf="profileDropdonw" [ngClass]="[animationClass, profileDropdonw ? 'd-flex' : 'd-none']">
    <div class="profile-dados">
      <div class="photo">
        <img [src]="user.photo" alt="">
      </div>
      <div class="dados">
        <span>{{user.name}}</span>
        <span id="email">{{user.email}}</span>
      </div>
    </div>

    <div class="profile-menu">
      <div class="menu" routerLink="/profile">
        <i class="fa fa-user"></i>
        My profile
      </div>
      <div class="menu">
        <i class="fa fa-info"></i>
        Help
      </div>
      <div class="menu settings">
        <i class="fa fa-gear"></i>
        Settings
      </div>
      <div class="menu invite">
        <i class="fa-solid fa-gift"></i>
        Invite  friend
      </div>
      <div class="menu logout" (click)="confirm1($event)">
        <i class="fa-solid fa-right-from-bracket"></i>
        Logout
      </div>
     
    </div>
  </div>
</div>



<p-confirmdialog />