<div class="container-header">

  <header>

    <div class="logo">
      <i class="fas" [ngClass]="{'fa-bars menu-icon': isMenuOpen, 'fa-x': !isMenuOpen}" (click)="btnToggle()"
        role="button" tabindex="0" aria-label="Toggle menu">
      </i>
      <a href="/browse"><img src="/img/logo.png" alt=""></a>
    </div>

    <div class="menu">

      <div class="account" *ngIf="!user" routerLink="/login">
        <i class="fas fa-user"></i>
      </div>

      <div class="profile-img" *ngIf="user">
        <img routerLink="/profile" [src]="user.photo" alt="profile img">
      </div>

    </div>

  </header>
</div>