@import '../../../../public/variables.scss';

:host {
  position: fixed;
  top: 0;
  right: 0;
  height: 70px;
  width: calc(100% - 210px);
  background-color: $background-color;
  z-index: 999;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.container-header {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: $background-color;
    width: calc(100vw - 240px);
    color: white;

    .search {
      width: 250px;
      height: 35px;
      background-color: $tertiary-color;
      border-radius: 20px;
    }

    .menu {
      display: flex;
      align-items: center;
      gap: 2rem;

      .invite-friend {
        padding: 5px 10px;
        background-color: $primary-color;
        border-radius: 5px;
        color: $secondary-color;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
      }

      #help {
        cursor: pointer;
      }

      .volume,
      .account {
        cursor: pointer;

        i {
          color: white;
        }
      }
    }
  }
}
