@use'../../../../public/variables' as *;

:host {
  position: fixed;
  top: 0;
  right: 0;
  // width: calc(100% - 210px);
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 999;

}

.container-header {
  width: 100%;
  z-index: 99999;
  border-bottom: 2px solid rgba($color: $secondary-color, $alpha: 0.5);
  background-color: $background-color;



  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // width: calc(100vw - 240px);
    width: 100%;
    color: white;
    padding: 0.5rem 1rem;

    .logo {
      display: flex;
      align-items: center;
      gap: 1rem;

      a {
        display: flex;
        justify-content: center;
      }

      img {
        width: 120px;
      }

      i {
        font-size: 20px;
        cursor: pointer;
      }
    }

    .menu {
      display: flex;
      align-items: center;
      gap: 1rem;


      .volume,
      .account {
        cursor: pointer;
        width: 35px;
        height: 35px;
        background-color: $secondary-color;
        border-radius: 50%;
        display: grid;
        place-content: center;

        i {
          color: white;
        }
      }

      .profile-img {
        width: 40px;
        height: 40px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          cursor: pointer;
        }
      }
    }
  }


  .profile-dropdown {
    position: absolute;
    right: 10px;
    width: 260px;
    background-color: $secondary-color;
    padding: 20px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;


    .profile-dados {
      width: 100%;
      display: flex;
      align-items: center;
      gap: .5rem;
      padding-bottom: 20px;
      border-bottom: 2px solid rgba($color: #d1d1d1, $alpha: 0.3);



      .dados {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        #email {
          display: inline-block; // Faz o span se comportar como um bloco
          white-space: nowrap; // Impede que o texto quebre em várias linhas
          overflow: hidden; // Esconde o conteúdo que ultrapassa o tamanho
          text-overflow: ellipsis; // Adiciona as reticências (...)
          font-size: 12px;
          
        }
      }

      .photo {
        display: flex;
        justify-content: center;
        img {
          width: 50px;
          height: auto;
          border-radius: 50%;
          border: 2px solid $primary-color;
        }
      }


    }

    .profile-menu {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      .menu {
        width: 100%;
        font-size: 14px;
        padding: 10px 20px;
        display: flex;
        gap: 1rem;
        align-items: center;
        cursor: pointer;
        font-weight: 200;

        &:hover {
          border-radius: 8px;
          background-color: rgba($color: $background-color, $alpha: 0.5);
        }

        i {
          width: 10px;
          display: grid;
          place-content: center center;
        }

        &.settings{
          border: none;
        }

        
        &.logout{
          border: none;
          border-top: 2px solid rgba($color: #d1d1d1, $alpha: 0.3);
          padding: 20px 20px 0px;
          background-color: transparent;
          border-radius: 0;
        }
        
        &.invite{
          border: 0.5px solid $primary-color;
          box-shadow: 0px 0px 3px 0px $primary-color;
          border-radius: 8px;
        }


        &.active {
          background-color: $background-color;
          border-radius: 8px;
          font-weight: 500;
          
        }
      }
    }

  }

}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

@media screen and (max-width: 999px) {
  .container-header {

    header {
      width: 100vw;
      margin-left: 0;

      .logo {
        display: flex;
      }

      .search {
        display: none;
      }

      .menu {
        .search-mobile {
          display: grid;
        }
      }
    }
  }

  .main-content {
    margin-left: 0;
  }

  .menu-icon {
    display: block;
  }



}


@media screen and (max-width: 720px) {
  .container-header {
    header {
      .invite-friend {
        display: none;
      }

      #help {
        display: none;
      }
    }
  }
}

