<div class="container-profile">
  <div class="profile">
    <div class="profile-dados">
      <div class="photo">
        <img [src]="user.photo" alt="">
      </div>
      <span>{{user.name}}</span>
      <span id="email">{{user.email}}</span>
    </div>

    <div class="profile-menu">
      <div class="menu" [ngClass]="{ active: selectedMenu === 'likes' }" (click)="selectMenu('likes')">
        <i class="fa fa-heart"></i>
        My likes
      </div>
      <div class="menu" [ngClass]="{ active: selectedMenu === 'downloads' }" (click)="selectMenu('downloads')">
        <i class="fa fa-download"></i>
        Downloads
      </div>
      <div class="menu" [ngClass]="{ active: selectedMenu === 'billing' }" (click)="selectMenu('billing')">
        <i class="fa fa-dollar"></i>
        Plan & Billing
      </div>
      <div class="menu" [ngClass]="{ active: selectedMenu === 'help' }" (click)="selectMenu('help')">
        <i class="fa fa-info"></i>
        Help
      </div>
      <div class="menu" [ngClass]="{ active: selectedMenu === 'devices' }" (click)="selectMenu('devices')">
        <i class="fa fa-tv"></i>
        My devices
      </div>
      <div class="menu" [ngClass]="{ active: selectedMenu === 'videos' }" (click)="selectMenu('videos')">
        <i class="fa fa-youtube"></i>
        Videos
      </div>
      <div class="menu settings" [ngClass]="{ active: selectedMenu === 'settings' }" (click)="selectMenu('settings')">
        <i class="fa fa-gear"></i>
        Settings
      </div>
      <div class="menu logout" (click)="confirm1($event)">
        <i class="fa-solid fa-right-from-bracket"></i>
        Logout
      </div>
    </div>

  </div>
  <div class="profile-content">
    <div *ngIf="selectedMenu === 'likes'">Content for My Likes</div>
    <div *ngIf="selectedMenu === 'downloads'">Content for Downloads</div>
    <div *ngIf="selectedMenu === 'billing'">Content for Plan & Billing</div>
    <div *ngIf="selectedMenu === 'help'">Content for Help</div>
    <div *ngIf="selectedMenu === 'devices'">Content for My Devices</div>
    <div *ngIf="selectedMenu === 'videos'">Content for Videos</div>
    <div *ngIf="selectedMenu === 'settings'">Content for Settings</div>
  </div>
</div>



<p-confirmdialog />
