@use'../../../../public/variables' as *;

.container-profile {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 50px 50px;
  gap: 2rem;

  .profile {
    position: fixed;
    left: 100px;
    top: 100px;
    width: 300px;
    border-radius: 10px;
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    gap: 1rem;

    .profile-dados {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .photo {
        img {
          width: 100px;
          height: auto;
          border-radius: 50%;
          border: 2px solid $primary-color;
        }
      }

      #email {
        font-size: 12px;
      }
    }

    .profile-menu {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      .menu {
        width: 100%;
        font-size: 14px;
        padding: 10px 20px;
        display: flex;
        gap: 1rem;
        align-items: center;
        cursor: pointer;
        border-bottom: 2px solid $background-color;
        font-weight: 200;

        &:hover {
          border-radius: 8px;
          background-color: rgba($color: $background-color, $alpha: 0.5);
        }

        i {
          width: 10px;
          display: grid;
          place-content: center center;
        }

        &.settings{
          border: none;
        }

        
        &.logout{
          border: none;
          border-top: 2px solid rgba($color: #d1d1d1, $alpha: 0.3);
          padding: 30px 20px 10px;
          font-weight: 500;
          background-color: transparent;
          border-radius: 0;
        }


        &.active {
          background-color: $background-color;
          border-radius: 8px;
          font-weight: 500;
          
        }
      }
    }
  }

  .profile-content {
    width: calc(100% - 320px);
    flex: 1;
    background-color: red;
    margin-left: 320px; // Evita que o conteúdo fique atrás do .profile
  }
}


