<div class="container">
  <div class="banner">
    <div class="banner-img">
    </div>
  </div>

  <div class="profile">
    <div class="logo">
      <img [src]="user.photo" alt="">
    </div>
    <div class="main-info">
      <span id="name">{{user.name}}</span>
      <span id="email">{{user.email}}</span>
    </div>
    <div class="dados">
      <div class="name colunm-dados">
        <div class="title">Name</div>
        <div class="form-group">
          <input type="text" [(ngModel)]="formData.name" (input)="onInputChange()">
        </div>
      </div>
      <div class="email colunm-dados">
        <div class="title">E-mail</div>
        <div class="form-group">
          <i class="fa-regular fa-envelope"></i>
          <input type="email" [(ngModel)]="formData.email" (input)="onInputChange()">
        </div>
      </div>
      <div class="photo colunm-dados">
        <div class="title">Photo</div>
        <div class="photo-group">
          <img [src]="formData.photo" alt="">
          <label for="file-upload" class="custom-file-upload">
            Change
          </label>
          <input type="file" id="file-upload" (change)="onFileChange($event)" style="display: none;">
          <span (click)="onRemovePhoto()">Remove</span>
        </div>
      </div>
      <div class="btns colunm-dados">
        <button (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>

        <div class="btn-infos" [ngClass]="[animationClass, toggleBtns ? 'd-flex' : 'd-none']">
          <button id="cancel" (click)="onCancel()">Cancel</button>
          <button id="save" (click)="onSave()">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="subscription-section">
    <h1>My subscription</h1>

    <div class="subscription-card">
      <div class="subscription-header">
        <h2>Sound +</h2>
        <span class="management-badge">Subscription Management</span>
      </div>

      <div class="subscription-content">

        <div class="features">
          <div class="feature-item">
            <i class="fa-solid fa-check"></i>
            <span>Lorem Ipsum is simply dummy text.</span>
          </div>
          <div class="feature-item">
            <i class="fa-solid fa-check"></i>
            <span>Lorem Ipsum is simply dummy text.</span>
          </div>
          <div class="feature-item">
            <i class="fa-solid fa-check"></i>
            <span>Lorem Ipsum is simply dummy text.</span>
          </div>
          <div class="feature-item">
            <i class="fa-solid fa-check"></i>
            <span>Lorem Ipsum is simply dummy text.</span>
          </div>
          <div class="feature-item">
            <i class="fa-solid fa-check"></i>
            <span>Lorem Ipsum is simply dummy text.</span>
          </div>
          <div class="feature-item">
            <i class="fa-solid fa-check"></i>
            <span>Lorem Ipsum is simply dummy text.</span>
          </div>
        </div>

        <div class="download-progress">
          <div class="progress-circle">
            <i class="fa-solid fa-download"></i>
            <span>10/100</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>