<div class="container-login">
  <div class="content-login">

    <div class="logo">
      <img src="/img/logo.png" alt="BeatLoop Logo">
    </div>

    <div class="texto">
      <span>Log into your account</span>
    </div>


    <div class="login">

      <div class="google">
        <asl-google-signin-button class="custom-google-button"  type="standard"
        shape="rectangular"
        theme="outline"
        text="continue_with"
        size="large"
        logo_alignment="left"
        [width]="280"></asl-google-signin-button>
      </div>
      <div class="or"></div>


      <form>
        <div class="form-group">
          <input type="email" placeholder="E-mail address*">
        </div>
        <div class="form-group">

          <input type="password" placeholder="Password*">
        </div>
      </form>

      <div class="dados">
        <div class="forgot-password">
          <a href="#">Forgot password?</a>
        </div>

        <button>Continue</button>

        <div class="create-account">
          <span>Don't have an account? <a href="#">Sign up</a></span>
        </div>
      </div>


      <div class="terms">
        By continuing, you agree to Beatloop's
        <a href="">Terms</a> of Use and <a href="">Privacy Policy.</a>
        <span>
        </span>
      </div>
    </div>
  </div>
</div>
