@use'../../../../public/variables' as *;

.container-login {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $secondary-color;
  padding: 20px 0;

  .content-login {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .logo {
      img {
        width: 250px;
        height: auto;
      }
    }

    .texto {
      span {
        font-size: 20px;
        font-weight: 600;
        color: white;
      }
    }

    .login {
      width: 280px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;



      .email {
        margin-top: 30px;
        display: flex;
        gap: 20px;
        flex-direction: column;

        .voltar {
          cursor: pointer;
          margin-bottom: 20px;
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 0.5rem;

          i {
            font-size: 12px;
            color: $primary-color;
          }

          span {
            font-size: 16px;
            color: $primary-color;

          }
        }

        form {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .form-group {

            input {
              width: 280px;
              padding: 15px;
              border-radius: 10px;
              border: 1px solid rgb(255, 255, 255);
              background-color: transparent;
              color: white;
              outline: none;

              &::placeholder {
                color: white;
              }

              &:focus {
                background-color: rgba(255, 255, 255, 0.056);
              }
            }


            .password-input {
              position: relative;
              width: 100%;

              input {
                width: 100%;
              }

              .password-toggle {
                position: absolute;
                right: 12px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                color: #fff;
              }
            }


          }
        }

        .dados {
          display: flex;
          width: 100%;
          flex-direction: column;
          justify-content: center;
          gap: 20px;

          .forgot-password {
            a {
              font-size: 12px;
              color: rgba(33, 77, 255, 1);
            }
          }
        }

        button {
          width: 100%;
          padding: 15px 0;
          border-radius: 10px;
          background-color: rgba(1, 51, 255, 1);
          border: none;
          color: white;
          font-weight: 600;
          cursor: pointer;

          &:disabled {
            background-color: rgba(1, 51, 255, 0.5);
            cursor: not-allowed;
          }
        }
      }

      .create-account {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
          font-size: 12px;
          color: white;

          a {
            color: rgba(33, 77, 255, 1);
          }

        }

        .linha {
          width: 100%;
          height: 1px;
          background-color: white;
          margin: 20px 0;
        }

      }

      .terms {
        text-align: center;
        font-size: 12px;
        color: white;
        width: 250px;
        margin-top: 40px;

        a {
          color: rgba(33, 77, 255, 1);
        }
      }


    }

    .verify-code {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $background-color;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 50px;

      border-radius: 20px;
      z-index: 1000;
      gap: 2rem;

      .code-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        .code {
          display: flex;
          gap: 10px;

          .code-input {
            width: 50px;
            height: 50px;
            text-align: center;
            font-size: 18px;
            border: 1px solid $primary-color;
            border-radius: 8px;
            background-color: transparent;
            outline: none;
            color: #fff;

            &:focus {
              border-color: $primary-color;
              /* Ajuste para a cor principal */
              box-shadow: 0 0 5px rgba($primary-color, 0.5);
            }
          }
        }

        #reenviar {
          cursor: pointer;
          font-size: 12px;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: rgba($primary-color, 0.2);
          }
        }
      }


      #title {
        font-size: 24px;
        color: white;
      }

      span {
        font-size: 14px;
        color: #d1d1d1;
        text-align: center;

        &#email {
          color: $primary-color;
        }
      }


      button {
        background-color: $primary-color;
        border: none;
        border-radius: 50px;
        padding: 10px 60px;
        font-size: 14px;
        font-weight: 600;
        color: $secondary-color;
        display: flex;
        align-items: center;
        cursor: pointer;

        i {
          font-size: 12px;
        }
      }
    }
  }


}

// Dispotiveis para mobile.
@media screen and (max-width: 305px) {
  .container-login {
    .content-login {

      .texto {
        h3 {
          font-size: 18px;
        }
      }

      .login {
        width: 220px;

        .login-social {
          .social {
            gap: 10px;
            font-size: 12px;
          }
        }

        // Também ajuste os elementos filhos que têm width definida
        .email form .form-group input {
          width: 220px;
        }
      }
    }
  }
}
