@use'../../public/variables' as *;

.layout{
  margin-top: 70px;
}

.main-content {
  margin-top: 50px;
  transition: margin-left 500ms ease-in-out;
  max-width: 1400px;
}

@media screen and (max-width: 999px) {
  app-header {
    width: 100%;
    margin-left: 0;
  }
  .main-content {
    margin-left: 0 !important;
  }
}
