<div class="background" *ngIf="showConfirmationCode"></div>
<div class="verify-code" *ngIf="showConfirmationCode">
  <span id="title">Verificação.</span>
  <span>Enviei um código de 6 dígitos para o email: <br> <span id="email" (click)="trocarEmail()">
      {{user.email}}</span></span>

  <div class="code-container">
    <div class="codes">
      <p-inputotp [(ngModel)]="code" size="large" [length]=6 />
    </div>
    <span>Você poderá reenviar o codigo em {{getFormattedTime()}}</span>
    <span id="reenviar" (click)="reenviar ? reenviarCode() : null" [ngClass]="{'disabled': !reenviar}">Reenviar</span>
  </div>

  <button (click)="confirmarCodigo()">Avança</button>
</div>