<div class="background" *ngIf="showConfirmationCode"></div>
<div class="verify-code" *ngIf="showConfirmationCode">
  <span id="title">Verificação.</span>
  <span>Enviei um código de 6 dígitos para o email: <br> <span id="email" (click)="trocarEmail()">
      {{user.email}}</span></span>

  <div class="code-container">
    <div class="code">
      <div class="code">
        <input type="text" maxlength="1" class="code-input" data-index="0" (input)="updateCode($event, codeInput2)"
          #codeInput1 />
        <input type="text" maxlength="1" class="code-input" data-index="1" (input)="updateCode($event, codeInput3)"
          #codeInput2 />
        <input type="text" maxlength="1" class="code-input" data-index="2" (input)="updateCode($event, codeInput4)"
          #codeInput3 />
        <input type="text" maxlength="1" class="code-input" data-index="3" (input)="updateCode($event, codeInput5)"
          #codeInput4 />
        <input type="text" maxlength="1" class="code-input" data-index="3" (input)="updateCode($event, codeInput6)"
          #codeInput5 />
        <input type="text" maxlength="1" class="code-input" data-index="3" (input)="updateCode($event, null)"
          #codeInput6 />
      </div>

    </div>
    <span>Você poderá reenviar o codigo em {{getFormattedTime()}}</span>
    <span id="reenviar" (click)="reenviar ? reenviarCode() : null" [ngClass]="{'disabled': !reenviar}">Reenviar</span>
  </div>

  <button (click)="confirmarCodigo()">Avança</button>
</div>