<div class="sidebar" [ngClass]="{'open': sidebarService.isOpen$ | async}">
  <div class="logo">
    <a href="/browse"><img src="/img/logo.png" alt=""></a>

    <i class="fas fa-times" (click)="sidebarService.close()"></i>
  </div>

  <li>
    <span [ngClass]="{'active': isActive('/browse')}" routerLink="/browse" (click)="sidebarService.close()">
      <i class="fas fa-home"></i>
      Browse
    </span>
    <span [ngClass]="{'active': isActive('/packs')}" routerLink="/packs" (click)="sidebarService.close()">
      <i class="fas fa-box"></i>
      Sample Packs
    </span>
    <span [ngClass]="{'active': isActive('/one-shots')}" routerLink="/one-shots" (click)="sidebarService.close()">
      <i class="fas fa-music"></i>
      One-shots
    </span>
    <span>
      <i class="fas fa-microphone"></i>
      Vocals
    </span>
    <span>
      <i class="fas fa-download"></i>
      Downloads
    </span>
    <span>
      <i class="fas fa-heart"></i>
      Likes
    </span>
  </li>
</div>
