@import '../../../../public/variables.scss';

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: fixed;
  left: 0;
  padding: 1.5rem;
  height: 80vh;
  border-right: 0.1rem solid rgba(209, 209, 209, 0.6352941176);
  z-index: 0;
  margin: 133px 0;

  li {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;



    span {
      width: 12rem;
      padding: 0.5rem 1rem;
      border-radius: 0.9rem;
      font-weight: bold;
      font-size: 14px;
      cursor: pointer;
      transition: all 0.3s ease;

      &.active {
        background-color: $tertiary-color;
        color: $secondary-color;
      }

      &:hover {
        background-color: #d1d1d162;
        color: $secondary-color;
      }
    }
  }
}
