@use'../../../../public/variables' as *;

:host {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: auto; // Permite que a barra lateral ocupe a largura total
  z-index: 9999;
  transition: transform 0.3s ease;
}

.sidebar {
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  justify-content: start;
  position: fixed;
  left: 0;
  padding: 1.5rem;
  height: 100vh;
  background-color: $background-color;
  z-index: 0;
  transition: transform 0.3s ease;

  &.open {
    width: 100vw; // Ocupa a largura total no modo aberto em mobile
    transform: translateX(100%);

  }



  .logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    i {
      font-size: 20px;
      color: white;
      display: none;
    }

    img {
      width: 150px;
      height: auto;
    }
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;

    span {
      width: 12rem;
      padding: 1rem;
      font-size: 14px;
      cursor: pointer;
      transition: all 0.3s ease;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: white;

      &.efeito {
        width: 3px;
        height: 100%;
        background-color: $primary-color;
      }

      &:hover{
        color: $primary-color;
      }

      &.active {
        font-weight: 600;
        color: $primary-color;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          left: -1rem;
          top: 0;
          width: 4px;
          height: 100%;
          background-color: $primary-color;
          border-radius: 0 3px 3px 0;
        }
      }

      &:hover {
        &::before {
          content: '';
          position: absolute;
          left: -1rem;
          top: 0;
          width: 4px;
          height: 100%;
          background-color: $primary-color;
          border-radius: 0 3px 3px 0;
        }
      }
    }
  }
}

@media screen and (max-width: 999px) {
  :host {
    width: 100%;
    transform: translateX(-100%); // Esconde fora da tela por padrão
  }

  .sidebar {
    transform: translateX(-100%); // Desloca fora da tela no estado fechado


    .logo i {
      display: block;
    }
  }
}
