<div class="sidebar" [style.width]="sidebarWidth" [ngClass]="{'open': sidebarService.isOpen$ | async}">
  <li>
    <span [ngClass]="{'active': isActive('/browse')}" routerLink="/browse" (click)="sidebarService.close()">
      <i class="fas fa-home"></i>
      <span id="desc" *ngIf="isDescVisible | async">Browse</span>
    </span>
    <span [ngClass]="{'active': isActive('/packs')}" routerLink="/packs" (click)="sidebarService.close()">
      <i class="fas fa-box"></i>
      <span id="desc" *ngIf="isDescVisible | async">Sample Packs</span>
    </span>
    <span [ngClass]="{'active': isActive('/one-shots')}" routerLink="/one-shots" (click)="sidebarService.close()">
      <i class="fas fa-music"></i>
      <span id="desc" *ngIf="isDescVisible | async">One-shots</span>
    </span>
    <span>
      <i class="fas fa-microphone"></i>
      <span id="desc" *ngIf="isDescVisible | async">Vocals</span>
    </span>
    <span>
      <i class="fas fa-download"></i>
      <span id="desc" *ngIf="isDescVisible | async">Downloads</span>
    </span>
    <span>
      <i class="fas fa-heart"></i>
      <span id="desc" *ngIf="isDescVisible | async">Likes</span>
    </span>
  </li>

  <div class="btn-spand" (click)="toggleSlideBar()">
    <i class="fa-solid" [ngClass]="{'fa-caret-right': !descButton, 'fa-caret-left': descButton}"></i>
  </div>

</div>