/* You can add global styles to this file, and also import other style files */
@import '../public/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

body {
  background-color: $background-color;
}

// CONFIGURAÇÕES EXTRAS.
.d-flex {
  display: flex !important;
}

.d-none {
  display: none !important;
}

/* Fade In */
.fade-in {
  animation: fadeIn 0.5s forwards;
}

/* Fade Out */
.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


.login-social {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 40px;


  .social {
    border: 1px solid white;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px 15px;
    border-radius: 10px;
    gap: 20px;
    color: white;
    font-size: 14px;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    img {
      width: 20px;
      height: auto;
    }
  }
}

@media screen and (max-width: 999px) {
  .content {
    min-width: 100vw;
  }
}
