<div class="layout">
  <app-header></app-header>
  <div class="main-content">
    <app-sidebar></app-sidebar>
    <div class="content">
      <div class="banner">
        <div class="banner-image">
          <img src="/img/menino-ney.jpg" alt="Brazil Phonk">
          <div class="banner-overlay">
            <h1>BRAZIL PHONK</h1>
            <p>Download the top hits samples packs in Brazil</p>
          </div>
        </div>
        <div class="carousel-dots">
          <span class="dot active"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>

    </div>
  </div>
</div>
