@import '../../../../public/variables.scss';


.content {
  background-color: $secondary-color;
  padding: 25px;
  border-radius: 30px;
  height: 100%;

  .banner {
    width: 100%;
    aspect-ratio: 16/9;
    height: 350px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;


    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
    }

    .banner-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: opacity 0.5s ease-in-out;
      z-index: 1;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
      }
    }


    .banner-content {
      position: relative;
      z-index: 2;
      padding: 40px;
      width: 100%;
      height: 100%;
      color: white;
      display: flex;
      justify-content: end;
      flex-direction: column;

      #title {
        font-size: 1.5rem;
        font-weight: bold;
        font-weight: 400;
        margin-bottom: 20px;
        font-weight: bold;
      }

      .banner-indicators {
        display: flex;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%);
        gap: 8px;
        align-items: center;

        .indicator {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 1px solid white;
          transition: all 500ms ease-in-out;
          cursor: pointer;


          &.active {
            background: white;
            width: 15px;
            height: 15px;
          }
        }
      }
    }

  }

  section {
    padding: 40px 0;
    position: relative;

    h2 {
      color: white;
    }

    .next {
      position: absolute;
      right: -15px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      cursor: pointer;
      color: $tertiary-color;
      opacity: 0;
      transition: opacity 500ms ease;
    }

    .back {
      position: absolute;
      left: -15px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      cursor: pointer;
      color: $tertiary-color;
      opacity: 0;
      transition: opacity 500ms ease;
    }

    &:hover {

      .next,
      .back {
        opacity: 1;
      }
    }

    .cards {
      position: relative;
      display: flex;
      align-items: center;
      gap: 20px;
      overflow-x: scroll;
      scroll-behavior: smooth;


      &::-webkit-scrollbar {
        display: none;
      }

      .card {
        border-radius: 20px;
        padding: 20px;
        background-color: $background-color;
        border: 1px solid $card-border-color;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        gap: 10px;
        margin-top: 30px;
        height: 250px;

        .card-img {
          position: relative;

          img {
            width: 120px;
            height: 120px;
            border-radius: 10px;
          }

          .play {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $primary-color;
            position: absolute;
            display: grid;
            place-content: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            color: $secondary-color;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            transition: opacity 500ms ease;
          }
        }

        &:hover {
          .card-img {
            .play {
              opacity: 1;
            }
          }
        }

        .description {
          display: flex;
          flex-direction: column;

          #title {
            font-size: 14px;
            font-weight: bold;
            color: white;
          }

          #subtitle {
            font-size: 13px;
            font-weight: normal;
            color: white;
          }
        }

        .card-footer {
          font-size: 14px;
          font-weight: normal;
          color: white;
        }
      }
    }
  }

  .special-offers {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .banner-offers {
      width: 100%;
      height: 250px;
      border-radius: 30px;
      position: relative;
      overflow: hidden;


      .banner-img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
        }
      }

      .banner-content {
        position: absolute;
        z-index: 200;
        display: flex;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 40px;
        width: 100%;
        height: 100%;
        color: white;

        .banner-inform {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          width: 50%;

          #title {
            font-size: 1.5rem;
            font-weight: bold;
          }

          #subtitle {
            font-size: 1rem;
            font-weight: normal;
          }
        }

        .button {
          button {
            background-color: $primary-color;
            color: $secondary-color;
            padding: 10px 50px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            font-weight: bold;
          }
        }
      }
    }
  }

  .categories {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 20px;

      .card-category {
        position: relative;
        aspect-ratio: 1;
        overflow: hidden;
        cursor: pointer;
        border-radius: 10px;

        &:hover .category-overlay {
          background-color: rgba(0, 0, 0, 0.7);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .category-overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color 0.3s ease;

          .category-name {
            color: white;
            font-size: 1rem;
            font-weight: bold;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 450px) {
  .content {

    .banner {
      .banner-content {
        #title {
          font-size: 1.2rem;
        }
      }
    }

    .special-offers {
      .banner-offers {
        .banner-content {
          .banner-inform {
            width: 100%;

            #title {
              font-size: 1rem;
            }

            #subtitle {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }


  section {

    .next,
    .back {
      display: none;
    }
  }
}
